name: CI
on: [push, pull_request]
jobs:
  build:
    name: Test
    strategy:
      matrix:
        go-version: [1.15, 1.16]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code
        uses: actions/checkout@v2

      - name: Set GOPATH, PATH and ENV
        run: |
          echo "GOPATH=$(dirname $GITHUB_WORKSPACE)" >> $GITHUB_ENV
          echo "GO111MODULE=on" >> $GITHUB_ENV
        shell: bash

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Test
        run: go test -v ./...
